@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
}
@keyframes loading {
    0% {
        background-position: 150% 0;
    }
    100% {
        background-position: -50% 0;
    }
}
.loadingph{
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite;
}
.dark .loadingph {
  background: linear-gradient(90deg, #242526 25%, #3a3b3c 50%, #242526 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite;
}

:root{
    --screen-wide-width: 1280px;
    --screen-content-width: 960px;

    --bg-dark: #1a1a1a;
    --bg-gray-dark: #242424;
    --fore-color-dark: #ebebeb99;
    --bold-color-dark: #ffffffde;
    --border-dark: rgba(84, 84, 84, 0.48);

    --bg-light: #ffffff;
    --bg-gray-light: #f9f9f9;
    --fore-color-light: #3c3c3cb3;
    --bold-color-light: #213547;
    --border-light: rgba(60, 60, 60, 0.12);

    --orange-theme: #ff9966;
    --blue-theme: #647eff;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--bg-light);
    transition: background-color .25s;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
body.dark{
    background-color: var(--bg-dark);
}
a,p,span{
    font-size: 1rem;
}
a,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    color: var(--bold-color-light);
    text-decoration: none;
}
.dark a, .dark h1, .dark h2, .dark h3, .dark h4 {
    color: var(--bold-color-dark);
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
ul li{
    list-style: none;
}
p{
    line-height: 1.5;
    color: var(--fore-color-light);
    transition: color .5s;
}
.dark p{
    color: var(--fore-color-dark);
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--screen-wide-width);
}
/* Header */
header{
    border-bottom: 1px solid var(--border-light);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--bg-light);
}
.dark header{
    border-bottom: 1px solid var(--border-dark);
    background-color: var(--bg-dark);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
}
.logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
}
.logo-link img{
    width: 24px;
    height: 24px;
}
nav ul{
    display: flex;
    gap: 16px;
}
.social-link-icon{
    width: 20px;
    height: 20px;
    fill: var(--fore-color-light);
}
.dark .social-link-icon{
    fill: var(--fore-color-dark);
}
a:hover .social-link-icon{
    fill: var(--bold-color-light);
}
.dark a:hover .social-link-icon{
    fill: var(--bold-color-dark);
}
.theme-switch{
    position: relative;
    border-radius: 11px;
    display: block;
    width: 40px;
    height: 22px;
    flex-shrink: 0;
    border: 1px solid var(--bg-gray-light);
    background-color: var(--border-light);
    transition: border-color .25s, background-color .25s;
    cursor: pointer;
}
.dark .theme-switch {
    border-color: var(--bg-dark);
    background-color: var(--border-dark);
}
.switch-check {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--bg-light);
    box-shadow: var(--bg-gray-light);
    transition: all .25s;
}
.dark .switch-check {
    background-color: var(--bg-dark);
    box-shadow: var(--bg-gray-dark);
    left: 19px;
}
.switch-icon {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
}
.dark .switch-icon {
    background-color: var(--bg-dark);
}
.switch-icon svg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    fill: var(--bold-color-light);
}
.dark .switch-icon svg {
    fill: var(--bold-color-dark);
}
.switch-appearance-sun {
    opacity: 1;
}
.dark .switch-appearance-sun {
    opacity: 0;
}
.switch-appearance-moon {
    opacity: 0;
}
.dark .switch-appearance-moon {
    opacity: 1;
}
/* main section */
.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 96px 0;
    max-width: var(--screen-content-width);
}
.hero-content h1{
    font-size: 76px;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -1.5px;
    max-width: 730px;
    margin: 0 auto;
    color: var(--bold-color-light)
}
.dark .hero-content h1{
    color: var(--bold-color-dark);
}
.hero-content h1 .accent{
    font-size: 76px;
    background: -webkit-linear-gradient(315deg, #ff9966 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dark .hero-content h1{
    background: -webkit-linear-gradient(315deg, #ff9966 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dark .hero-content h1 .accent{
    background: none;
}
.description{
    line-height: 1.5;
    color: var(--vt-c-text-2);
    transition: color .5s;
    font-size: 22px;
    color: var(--fore-color-light);
    margin: 24px auto 40px;
}
.dark .description{
    color: var(--fore-color-dark);
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.sendmessage, .projects, .techstacks, .get-a-resume{
    font-size: 16px;
    display: inline-block;
    border-radius: 8px;
    transition: background-color .5s, color .5s;
    position: relative;
    font-weight: 600;
    background-color: var(--orange-theme);
    color: #fff;
    padding: 10px 1em;
}
.sendmessage{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.projects, .techstacks, .get-a-resume{
    background-color: var(--border-light);
    color: var(--fore-color-light);
}
.dark .projects, .dark .techstacks{
    background-color: var(--border-dark);
    color: var(--fore-color-dark);
}
.get-a-resume{
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box, linear-gradient(45deg, var(--orange-theme), var(--blue-theme)) border-box;
    border: 2px solid transparent;
}
.get-a-resume svg{
    width: 12px;
    height: 12px;
    margin-left: 4px;
    fill: currentColor;
}
.dark .get-a-resume{
    background: linear-gradient(#2f2f2f, #2f2f2f) padding-box, linear-gradient(45deg, var(--orange-theme), var(--blue-theme)) border-box;
    color: var(--fore-color-dark);
}
.icon-play{
    display: inline;
    position: absolute;
    left: 15px;
    top: 8px;
    margin-left: 2px;
    fill: currentColor;
    width: 1.5em;
}
.career-info{
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark .career-info{
    border-color: var(--border-dark);
}
.dark .career-info h2{
    color: var(--fore-color-dark);
}
.companies{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: var(--screen-content-width);
    margin: 0 auto;
    padding: 42px 32px;
}
.company-box{
    padding: 28px 36px;
    border-radius: 8px;
    flex: 0 32%;
    font-size: 14px;
    font-weight: 500;
}
.work-details{
    font-size: 13px;
    color: var(--fore-color-light);
}
.work-desc{
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.expanded .work-desc{
    line-clamp: none;
    -webkit-line-clamp: none; 
}
.work-desc-toggle{
    font-size: 12px;
    text-decoration: underline;
}
.dark .work-desc-toggle{
   text-decoration-color: var(--bold-color-dark);
}
.expanded .learn-more a, .show-less a{
    display: none;
}
.expanded .show-less a{
    display: inline;
}
/* Projects */
.project-list, .techstacks-list{
    max-width: 900px;
    margin: 0 auto;
    padding: 42px 32px;
}
.project-list h2, .techstacks-list h2{
    margin-bottom: 1em;
}
.project-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 4px;
}
.prj-item, .tech-item{
    background-color: var(--bg-gray-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
    transition: background-color .2s ease;
    outline: none;
    min-height: 135px;
}
.prj-item img{
    width: 100%;
    aspect-ratio: 276 / 114;
    object-fit: cover;
    object-position: 0% 0%;
    min-height: 135px;
    transition: transform 0.2s ease;
}
.prj-item:hover img, .tech-item:hover img{
    transform: scale(0.95);
}
.dark .prj-item, .dark .tech-item{
    background-color: var(--bg-gray-dark);
}
.dark .prj-item img, .dark .tech-item img{
    filter: grayscale(1);
}
.dark .prj-item:hover img, .dark .tech-item:hover img{
    filter: none;
}
a.prj-item.see-more:hover, a.tech-item.see-more:hover{
    background-color: var(--orange-theme);
    color: #fff;
}
.tech-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 4px;
}
.tech-item img{
    width: 100%;
    aspect-ratio: 276 / 114;
    object-fit: contain;
    object-position: center;
    min-height: 102px;
    transition: transform 0.2s ease;
}
#contact{
    background-color: var(--bg-gray-light);
    color: var(--fore-color-light);
}
.dark #contact{
    background-color: var(--bg-gray-dark);
    color: var(--fore-color-dark);
}
#contact .container{
    max-width: 900px;
    flex-direction: column;
    margin: 0 auto;
    padding: 64px 32px;
}
#contact .head{
    text-align: center;
}
#contact .head h2{
    font-size: 28px;
}
#contact form{
    margin: 12px auto 0;
    max-width: 510px;
    padding: 0 20px;
    width: 100%;
}
#contact .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 6px;
}
input, textarea{
    width: 100%;
    padding: 11px 1em;
    border-radius: 8px;
    border: 1px solid var(--border-light);
    background-color: var(--bg-light);
    color: var(--fore-color-light);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
textarea{
    resize: none;
    min-height: 120px;
}
.dark input, .dark textarea{
    background-color: var(--bg-gray-dark);
    color: var(--fore-color-dark);
    border: 1px solid var(--border-dark);
}
input[type="submit"]{
    background-color: var(--orange-theme);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
input:focus, textarea:focus{
    outline: 0.6px solid var(--orange-theme);
}
footer{
    padding: 23px 24px 24px;
    background-color: var(--bg-light);
    border-top: 1px solid var(--border-light);
    font-size: 12px;
    color: var(--fore-color-light);
}
.dark footer{
    background-color: var(--bg-dark);
    border-top: 1px solid var(--border-dark);
    color: var(--fore-color-dark);
}
footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p, footer a, footer span{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
footer a:hover{
    text-decoration: underline;
}
.projects-head .container p, .techstacks-head .container p{
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-light);
}
.dark .projects-head .container p, .dark .techstacks-head .container p{
    border-bottom: 1px solid var(--border-dark);
}
.projects-head .container, .techstacks-head .container{
    display: flex;
    flex-direction: column;
    padding: 42px 32px 16px;
    max-width: 900px;
}
.projects-head h1, .techstacks-head h1{
    font-size: 28px;
}
.projbycateg, .techbycateg{
    margin-bottom: 36px;
}
.formobile{
    display: none;
}
@media only screen and (max-width: 1280px) {
    header{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 992px) {
    .hero .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .companies{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .company-box {
        padding: 28px 0px;
    }
    .work-desc{
        line-clamp: none;
        -webkit-line-clamp: none;
    }
    .work-desc-toggle{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .hero-content h1, .hero-content h1 .accent{
        font-size: 64px;
    }
    .tech-items{
        grid-template-columns: repeat(auto-fill, minmax(142px, 1fr));
    }
}
@media only screen and (max-width: 576px) {
    header{
        padding-left: 16px;
        padding-right: 16px;
    }
    .hero-content h1, .hero-content h1 .accent{
        font-size: 46px;
    }
    #contact form {
        padding: 0;
    }
    .description{
        font-size: 18px;
    }
    .sendmessage, .projects, .techstacks, .get-a-resume {
        font-size: 14px;
        padding: 8px 1em;
    }
    .formobile{
        display: block;
    }
    .cta{
        gap: 8px;
    }
    .project-items{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}
@media only screen and (max-width: 428px) {
    .project-items, .tech-items{
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

